h1 { background-color:yellow;
color:red;
}
button{color:black;
border-radius: 25px
background-color:pink
font-size: 125px;
padding:5px;
text-align:center;}
body { background-color:lightPink;
text-align:center:}
img {heigt:100%;
width:100%:
border-radius:25px;}
div {text-align:center;
font-size:100%;}